/*
Google Fonts Dosis for titles, buttons, etc and Open Sans for text
*/
@import url('https://fonts.googleapis.com/css?family=Dosis:200|Open+Sans');
/*
font-family: 'Dosis', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General */
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
.button,
.label {
  font-family: 'Dosis', sans-serif;
}

.wrap-content {
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}

h1 {
  padding: 40px 0;
  font-size: 72px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}
h2 {
  padding: 0 0 10px;
  font-size: 32px;
  color: #666;
  font-weight: bold;
}
h2 a {
  color: inherit;
}
h3 {
  padding: 0 0 20px;
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #666;
  border-bottom: 1px solid #666;
}

form {
  max-width: 300px;
  margin: 0 auto;
  text-align: left;
}

form label {
  display: inline-block;
  margin: 0 0 5px;
}

form p {
  margin: 0 0 15px;
}

input[type=text],
input[type=date],
input[type=datetime],
input[type=number],
input[type=search],
input[type=time],
input[type=url],
input[type=email],
textarea,
select{
  display: block;
  width: 100%;
	box-sizing: border-box;
  border:1px solid #BEBEBE;
  background: #fff;
	padding: 7px 11px;
	margin: 0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
  outline: none;
  border-radius: 4px;
  appearance: none;
  font-size: 14px;
  line-height: 26px;
  font-family: 'Open Sans', sans-serif;
}
input[type=text]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=email]:focus,
textarea:focus,
select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
textarea {
  height: 250px;
}

.button {
  background: #9a9ae1;
  border: none;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}
.button-action {
  background: #fff;
  border: 1px solid #666;
  border-radius: 10px;
  margin: 0 10px;
  padding: 2px 10px;
  line-height: 1;
  font-size: 11px;
  line-height: 12px;
  display: inline-block;
  vertical-align: top;
}
.button-action.active {
  background: #666;
  color: #fff;
}
button {
  cursor: pointer;
}
input[type=submit],
button:focus {
  outline: none;
}

.message-ok {
  padding: 5px;
  background: #1abc9c;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

/* Header */
header {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
nav {
  text-align: center;
  font-family: 'Dosis', sans-serif;
}
nav ul {
  font-size: 0;
}
nav li {
  font-size: 14px;
  display: inline-block;
  margin: 15px;
  text-transform: uppercase;
  color: #fff;
}
nav a {
  color: #fff;
}
nav a:hover {
  border-bottom: 2px solid #fff;
}

/* Content */
.content-container {
  padding: 20px 0;
}

/* Post List Item */
.post {
  margin: 0 0 20px;
  padding: 0 0 20px;
  text-align: center;
}
.post-list-item {
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.post-list-item:last-child {
  border-bottom: none;
}

.post-votescore {
  height: 60px;
  line-height: 52px;
  font-size: 0;
}
.post .post-votescore {
  margin: 0 0 20px;
}

.post-info {
  margin: 0 0 10px;
  font-size: 12px;
  color: #666;
}
.post-info span {
  display: inline-block;
  margin: 0 10px 10px;
}
.post-content {
  margin: 30px 0 20px;
  text-align: left;
  line-height: 26px;
}
.post-actions {
  margin: 0 0 20px;
}
.post-score {
  display: inline-block;
  background: #03A9F4;
  background-image: linear-gradient(to right, #d16ba5, #9a9ae1);
  width: 54px;
  height: 54px;
  border-radius: 40px;
  position: relative;
  padding: 3px;
  font-size: 18px;
}
.post-score-inner {
  display: block;
  background: #fff;
  color: #03A9F4;
  font-weight: bold;
  width: 54px;
  height: 54px;
  border-radius: 40px;
}
.post-vote {
  display: inline-block;
  color: #fff;
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
  padding: 0 20px;
  border: none;
  font-size: 12px;
  width: 115px;
  text-align: center;
}
.post-vote-up {
  margin: 0 -20px 0 0;
  padding-right: 33px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #d16ba5;
}
.post-vote-down {
  margin: 0 0 0 -20px;
  padding-left: 33px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #9a9ae1;
}

/* Category Order */
.category-order {
  text-align: center;
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 18px;
}
.category-order button {
  margin: 0 0 0 10px;
  text-transform: capitalize;
}

/* Comments */
.comment-list {
  margin: 0 0 20px;
}

.comment-list-item {
  text-align: left;
  padding: 10px;
  margin: 0 0 10px;
  border-radius: 10px;
  background: #fcfcfc;
  border: 1px solid #eee;
}
.comment-list-body {
  padding: 0 0 10px;
  border-bottom: 1px solid #eee;
  margin: 0 0 10px;
}
.comment-list-author {
  font-size: 14px;
  display: inline-block;
  margin:  0 10px 0 0;
  line-height: 18px;
  height: 18px;
  vertical-align: top;
}
.comment-list-votescore {
  display: inline-block;
}
.comment-list-score {
  margin: 0 5px;
  font-weight: bold;
  line-height: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
}
.comment-list-vote {
}
.comment-list-vote-up {
  border-color: #d16ba5;
  color: #d16ba5;
  margin-right: 0;
}
.comment-list-vote-down {
  border-color: #9a9ae1;
  color: #9a9ae1;
  margin-left: 0;
}
.comment-actions {
  display: inline-block;
}
.comment-form textarea {
  height: 130px;
}

.comment-edit-form {
  max-width: 100%;
  margin: 10px 0 0;
}
.comment-edit-form textarea {
  height: 130px;
}

/* Footer */
footer {
  text-align: center;
  background: #f1f1f1;
  padding: 30px 0;
}
footer p {
  font-size: 12px;
}