/*
Google Fonts Dosis for titles, buttons, etc and Open Sans for text
*/
@import url('https://fonts.googleapis.com/css?family=Dosis:200|Open+Sans');
/*
font-family: 'Dosis', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General */
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.button,
.label {
  font-family: 'Dosis', sans-serif;
}

.wrap-content {
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  background: #5ffbf1;
}

h1 {
  padding: 40px 0;
  font-size: 72px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}
h2 {
  padding: 0 0 10px;
  font-size: 32px;
  color: #666;
  font-weight: bold;
}
h3 {
  padding: 0 0 20px;
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #666;
  border-bottom: 1px solid #666;
}

/* Header */
header {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
nav {
  text-align: center;
  font-family: 'Dosis', sans-serif;
}
nav ul {
  font-size: 0;
}
nav li {
  font-size: 14px;
  display: inline-block;
  margin: 15px;
  text-transform: uppercase;
  color: #fff;
}
nav a {
  color: #fff;
}
nav a:hover {
  border-bottom: 2px solid #fff;
}

/* Content */
.content-container {
  padding: 20px 0;
}

/* Post List Item */
.post-list-item {
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.post-list-item h2 {
}
.post-list-item-info {
  margin: 0 0 10px;
  font-size: 12px;
  color: #666;
}
.post-list-item-info span {
  display: inline-block;
  margin: 0 10px 10px;
}

.post-list-item-score {
  display: inline-block;
  background: #03A9F4;
  color: #fff;
  font-weight: bold;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  position: relative;
}
.post-list-item-vote {
  display: inline-block;
  color: #fff;
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
  padding: 0 20px;
}
.post-list-item-vote-up {
  margin: 0 -20px 0 0;
  padding-right: 33px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #8BC34A;
}
.post-list-item-vote-down {
  margin: 0 0 0 -20px;
  padding-left: 33px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #F44336;
}

/* Footer */
footer {
  text-align: center;
  background: #f1f1f1;
  padding: 30px 0;
}
footer p {
  font-size: 12px;
}